import(rpart)

export(CI)
export(CIg)
export(CIc)
export(concentration_index)
export(imp)
export(rank_wt)
export(rpart_ci)
export(variance_concentration_index)

exportClasses(decomposition)
S3method(plot, decomposition)
S3method(print, decomposition)
S3method(summary, decomposition)

exportClasses(hci)
S3method(confint, hci)
S3method(plot, hci)
S3method(print, hci)
S3method(summary, hci)

exportMethods(contribution)
S3method(contribution, coxph)
S3method(contribution, glm)
S3method(contribution, lm)
S3method(contribution, svyglm)
