import(rpart)

importFrom(graphics, barplot)
importFrom(graphics, plot)
importFrom(graphics, polygon)

importFrom(stats, aggregate)
importFrom(stats, coefficients)
importFrom(stats, confint)
importFrom(stats, cov.wt)
importFrom(stats, model.matrix)
importFrom(stats, na.omit)
importFrom(stats, predict)
importFrom(stats, qnorm)
importFrom(stats, weighted.mean)
importFrom(stats, weights)
	 
export(ci)
export(concentration_index)
export(contribution)
export(correct_sign)
export(corrected_value)
export(imp)
export(rank_wt)
export(rpart_ci)
export(variance_concentration_index)

S3method(plot, decomposition)
S3method(print, decomposition)
S3method(summary, decomposition)

S3method(confint, hci)
S3method(plot, hci)
S3method(print, hci)
S3method(summary, hci)

S3method(contribution, coxph)
S3method(contribution, glm)
S3method(contribution, lm)
S3method(contribution, svyglm)
